header {
  height: 35rem;
}

header .pages {
height: 25rem;
}

header .about {
height: 10rem;
}

.bio {
  display: flex;
  justify-content: center;
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 20rem;
}

.card-img-overlay {
  background-color: #000;
  opacity: 0.7
}

.card-img-overlay:hover {
  background-color: #000;
  opacity: 0.2
}

.card-title {
  text-shadow: 1px 1px 1px black;
}


